{% extends "bracket/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="pt-3">
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <h1 class="h1">Start compete</h1>
            {{ form|crispy }}
        </fieldset>
        <button type="submit" class="btn btn-outline-primary">Sign Up</button>
    </form>
    <div>
        <small>
            Allready have an account? <a href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
</div>
{% endblock  %}