{% extends "bracket/base.html" %}

{% block content %}
    <h1>Make your own tournament</h1>

    <p>Choose wich format you prefer and add your teams. Then it will be randomly matched.</p>

    <div>
        <form action="{% url 'bracket:make' %}" method="post">
            {% csrf_token %}
            <div>
                <input type="radio" name="format" id="play-off" value="play-off" checked>
                <label for="play-off">The play-off system That makes normal league subbracket</label>
                <input type="radio" name="format" id="everyone" value="everyone">
                <label for="everyone">Mode when every team face all the others</label>
            </div>

            <div id="container">
                <div>
                    <label for="team1">Team 1</label>
                    <input type="text" name="team1">
                </div>
            </div>
            <div>
                <button id="addbutton" type="button" onclick="AddTeam()">Add team</button>
            </div>
            <input type="submit" value="Done">
        </form>
    </div>

{% endblock %}